.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  background-image: url('../../../images/avatar.jpg');

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile__image:hover > .profile__square {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__square {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: black url('../../../images/edit-icon.svg') 50% no-repeat;
    background-size: 30px 30px;
}