.popup__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 2px;
  border: none;
  transition: visibility 0s, background 0.3s;
  margin-top: 48px;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
.popup__button:disabled {
  background-color: #fff;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #666;
}

.popup__error {
	color: #ff0000;
	font-family: 'Inter',sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
}